
	<% if user_signed_in? %>
		<%= form_for @tweet do |f| -%>
		<%= f.text_area :content, :size => "60x3" %><br />
		<%= f.text_field :ratitude %><br />
		<%= f.text_field :longitude %><br />
		<%= f.text_field :rate %><br />
		<%= f.submit "Submit", :disable_with => 'Submiting...' %>
	<% end %>
<% end %>

<div id="map_canvas" style="width:1000px; height:430px"></div>

	<div id="tweet">
<% @tweets.each do |tweet| %>

		<hr />
		<span style="font-weight:bold;">
			<%= tweet.user.email %>
		</span>
		<br />
		<%= tweet.content %>
		<br />
		<%= link_to "delete", tweet, :method => :delete, :confirm => "are you sure?" %>
	(<%= distance_of_time_in_words_to_now(tweet.created_at) %>ago)
	

<% end %>
</div>

